<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ввод параметров поиска</title>
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('.static', filename='input_price.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <h2>Поиск продуктов по цене и категории</h2>
    <form action="" method=POST>
        <div class="form-item">
            <label for="cat">Категория товара</label>
            <select name="category" id="cat">
                {% for category in categories %}
                    <option value="{{ category['prod_cat'] }}">{{ category['prod_cat'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-item">
            <label for="price">Максимальная цена товара</label>
            <input type="number" name="price" value="0" id="price"><br><br>
        </div>
        <button class="button-search" type="submit">Найти</button>
    </form>

    <div class="buttons-menu">
        <a href="{{ url_for('bp_queries.search_choice') }}"><button class="button-menu"> Назад </button></a>
        <a href="{{ url_for('home_page') }}"><button class="button-menu"> На главную </button></a>
    </div>

</center>
</body>
</html>